// https://codepen.io/piratus/pen/OMJBKE
// https://codepen.io/aorta/pen/EEmxOw
// https://github.com/lutsen/NiftyFolder/blob/master/public/less/spinner.less
// https://codepen.io/viduthalai1947/pen/JkhDK
// https://tobiasahlin.com/spinkit/
.vlahio-bouncing-container {
  text-align: center;
}

.vlahio-bouncing {
  text-align: center;

  > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: vlahio-bounce-delay 1.4s infinite ease-in-out both;
    animation: vlahio-bounce-delay 1.4s infinite ease-in-out both;
  }

  .vlahio-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .vlahio-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

@-webkit-keyframes vlahio-bounce-delay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes vlahio-bounce-delay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
