<div class="row mt-5">
  <div class="col">
    <h4 class="display-4 mb-0 size-2">Sliding dots CSS animation</h4>
    <hr class="mt-0 mb-4">
  </div>
</div>

<div class="row">
  <div class="col">
    <div aria-label="Language switch bar" class="btn-group btn-group-sm" role="group">
      <button (click)="changeLang('en')"
              [ngClass]="{active: isCurrentLang('en')}"
              class="btn btn-dark">EN
      </button>
      <button (click)="changeLang('de')"
              [ngClass]="{active: isCurrentLang('de')}"
              class="btn btn-dark">DE
      </button>
    </div>
    <div class="ml-4 btn-group btn-group-sm">
      <button (click)="state=!state" class="btn btn-dark"
              type="button">TURN {{state ? 'OFF' : 'ON'}}
      </button>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Directive</h6>
        <p [isVisible]="state" class="mt-4" style="min-height: 60px;" vlahioSlidingDots></p>
      </div>
    </div>
  </div>

  <div class="col">
    <app-sliding-dots-example [hideMessage]="true"
                              [title]="'No message'"
                              [toggle]="state"></app-sliding-dots-example>
  </div>
  <div class="col">
    <app-sliding-dots-example [title]="'Default message'"></app-sliding-dots-example>
  </div>
  <div class="col">
    <app-sliding-dots-example [message]="'Loading'"
                              [title]="'With message'"></app-sliding-dots-example>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h4 class="display-4 size-2">Directive markup</h4>
    <pre><code class="language-html">
      &lt;div vlahioSlidingDots [hideMessage]="true" [message]="'Loading...'" [isVisible]="true"&gt;&lt;/div&gt;
    </code></pre>

    <h4 class="display-4 size-2">Component markup</h4>
    <p>Using <code>components</code> directly is highly discouraged. The recommended way of doing it is through
      <code>dynamic component loading</code>.</p>
    <pre><code class="language-typescript">
      compRef: ComponentRef&lt;SlidingDotsCardComponent&gt;;

      {{'constructor(private slidingDotsWorker: SlidingDotsWorker) {'}}
      {{'}'}}

      {{'show(options: DisplayOptionsInterface): void {'}}
      this.compRef = this.slidingDotsWorker.display(options);
      }

      {{'hide(): void {'}}
      this.slidingDotsWorker.destroy(this.compRef);
      }
    </code></pre>
  </div>
</div>
