<table class="table table-sm table-bordered">
  <tr class="text-center">
    <td>
      <vlahio-loading [align]="align" [color]="color" [isVisible]="state"></vlahio-loading>
    </td>
    <td>
      <code>
        &lt;vlahio-loading [isVisible]="{{state}}" [align]="{{align}}" [color]="{{color}}"&gt;&lt;/vlahio-loading&gt;
      </code>
    </td>
    <td><span class="badge badge-danger">not recommended</span></td>
  </tr>
  <tr class="text-center">
    <td [align]="align" [color]="color" [isVisible]="state" vlahioLoading></td>
    <td>
      <code>
        &lt;td vlahioLoading [isVisible]="{{state}}" [align]="{{align}}" [color]="{{color}}"&gt;&lt;/td&gt;
      </code>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td [color]="color"
        [isVisible]="true"
        [align]="align"
        vlahioLoading></td>
    <td [color]="color"
        [isVisible]="true"
        class="text-center"
        vlahioLoading></td>
    <td [color]="color"
        [isVisible]="state"
        class="text-center"
        vlahioLoading></td>
  </tr>
  <tr class="text-center">
    <td>
      <div aria-label="Horizontal alignment" class="btn-group btn-group-sm" role="group">
        <button (click)="align = x" *ngFor="let x of alignments"
                [ngClass]="{active: align === x}"
                class="btn btn-dark"
                type="button">{{x}}
        </button>
      </div>
    </td>
    <td>
      <div aria-label="Horizontal alignment" class="btn-group btn-group-sm" role="group">
        <button (click)="color = 'vlahio-' + (c || 'dark')" *ngFor="let c of colors"
                [ngClass]="{active: color === c}"
                class="btn btn-dark"
                type="button">{{c || 'dark'}}
        </button>
      </div>
    </td>
    <td>
      <div aria-label="Horizontal alignment" class="btn-group btn-group-sm" role="group">
        <button (click)="state = true" [ngClass]="{active: state === true}"
                class="btn btn-dark"
                type="button">on
        </button>
        <button (click)="state = false" [ngClass]="{active: state === false}"
                class="btn btn-sm btn-dark"
                type="button">off
        </button>
      </div>
    </td>
  </tr>
</table>

<pre><code class="language-typescript">
  &lt;td vlahioLoading [isVisible]="true|false" [align]="left|center|right" [color]="vlahio-dark|green|red|..."&gt;&lt;/td&gt;

</code></pre>
