<table class="table table-sm text-center table-borderless">
  <tr>
    <td><code>vlahio-dark</code></td>
    <td><code>vlahio-blue</code></td>
    <td><code>vlahio-red</code></td>
    <td><code>vlahio-green</code></td>
    <td><code>vlahio-brown</code></td>
    <td><code>vlahio-yellow</code></td>
    <td><code>vlahio-white</code></td>
    <td><code>vlahio-darker</code></td>
  </tr>
  <tr>
    <td vlahioLoading [isVisible]="true"></td>
    <td vlahioLoading [isVisible]="true" [color]="'vlahio-blue'"></td>
    <td vlahioLoading [isVisible]="true" [color]="'vlahio-red'"></td>
    <td vlahioLoading [isVisible]="true" [color]="'vlahio-green'"></td>
    <td vlahioLoading [isVisible]="true" [color]="'vlahio-brown'"></td>
    <td vlahioLoading [isVisible]="true" [color]="'vlahio-yellow'"></td>
    <td vlahioLoading [isVisible]="true" [color]="'vlahio-white'"></td>
    <td vlahioLoading [isVisible]="true" [color]="'vlahio-darker'"></td>
  </tr>
</table>
