<table class="table table-sm text-center table-borderless">
  <tr>
    <td><code>vlahio-dark</code></td>
    <td><code>vlahio-blue</code></td>
    <td><code>vlahio-red</code></td>
    <td><code>vlahio-green</code></td>
    <td><code>vlahio-brown</code></td>
    <td><code>vlahio-yellow</code></td>
    <td><code>vlahio-white</code></td>
    <td><code>vlahio-darker</code></td>
  </tr>
  <tr>
    <td [isVisible]="true" vlahioLoading></td>
    <td [color]="'vlahio-blue'" [isVisible]="true" vlahioLoading></td>
    <td [color]="'vlahio-red'" [isVisible]="true" vlahioLoading></td>
    <td [color]="'vlahio-green'" [isVisible]="true" vlahioLoading></td>
    <td [color]="'vlahio-brown'" [isVisible]="true" vlahioLoading></td>
    <td [color]="'vlahio-yellow'" [isVisible]="true" vlahioLoading></td>
    <td [color]="'vlahio-white'" [isVisible]="true" vlahioLoading></td>
    <td [color]="'vlahio-darker'" [isVisible]="true" vlahioLoading></td>
  </tr>
</table>
