<div class="container mt-4">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">ngx-loading</h1>
        <p class="lead">CSS loading animations for Angular.</p>
        <hr class="my-4">
        <div class="row">
          <div class="col">
            <app-loading-list-css-classes></app-loading-list-css-classes>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-loading-list-options></app-loading-list-options>
    </div>
  </div>

  <app-page-loader-template></app-page-loader-template>

  <app-bouncing-dots-template></app-bouncing-dots-template>

  <app-sliding-dots-template></app-sliding-dots-template>

  <div class="row mt-5">
    <div class="col">
      <h4 class="display-4 size-2">CSS styles</h4>
      <pre><code class="language-css">
        /* You can add global styles to this file, and also import other style files */
        @import "../../ngx-loading/src/assets/css/ngx-loading.css";
        @import "../../ngx-loading/src/assets/css/page-loading.css";
        @import "../../ngx-loading/src/assets/css/sliding-dots.css";
        @import "../../ngx-loading/src/assets/css/bouncing-dots.css";
      </code></pre>
    </div>
  </div>
</div>
